@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Home Page */
/* ====================================================================================== */

.home-page{
  background-image: url("./assets/Home/home2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover ;
  height: 100vh;

}

.text-overlay {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white; 
  text-align: center; 
  padding: 30px;
  width: 100vw;
  height: 100vh;
}

/* ============================================================================================== */
/* Project Layout */

.comic {
  display:flex;
  flex-wrap:wrap;
  /* padding:1vmin; */
}

.panel {
  background-color:#fff;
  display:inline-block;
  flex:1 1;
  height:300px;
  margin:1vmin;
  overflow:hidden;
  position:relative;
}

.text {
  background-color:#fff;
  border:solid 2px #000;
  margin:0;
  padding:3px 10px;
}

.top-left {
  left:-6px;
  position:absolute;
  top:-2px;
  transform:skew(-15deg);
}

.bottom-right {
  bottom:-2px;
  position:absolute;
  right:-6px;
  transform:skew(-15deg);
}
.panel:nth-child(1) {
  flex-basis: 400px;
}
.panel:nth-child(2) {
  flex-basis: 200px;
}
.panel:nth-child(3) {
  flex-basis: 200px;
}
.panel:nth-child(4) {
  flex-basis: 200px;
}
.panel:nth-child(5) {
  flex-basis: 200px;
}
.panel:nth-child(6) {
  flex-basis: 200px;
}
.panel:nth-child(7) {
  flex-basis: 400px;
}
.panel:nth-child(8) {
  flex-basis: 200px;
}
.panel:nth-child(9) {
  flex-basis: 200px;
}

/* background colours */

.panel:nth-child(4n+1) {
  background-image: url("./assets/Projects/capstoneEcommerce.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.panel:nth-child(4n+2) {
  background-image: url("./assets/Projects/calculator.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.panel:nth-child(4n+3) {
  background-image: url("./assets/Projects/vuePortfolio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.panel:nth-child(4n+4) {
  background-image: url("./assets/Projects/pythonProjects.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.panel:nth-child(4n+5) {
  background-image: url("./assets/Projects/wordPressPortfolio.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.panel:nth-child(4n+6) {
  background-image: url("./assets/Projects/tripTronik.png");
  background-repeat: no-repeat;
  background-position: center;
}

.panel:nth-child(4n+7) {
  background-image: url("./assets/Projects/restApi.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.panel:nth-child(4n+8) {
  background-image: url("./assets/Projects/binaryNewsApi.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
/* skew about */
.skew {
  -webkit-backface-visibility : hidden;
  -webkit-transform           : skew(16deg, 0);
  position                    : relative;
}

.skew-content {
  -webkit-transform : skew(-16deg, 0);
  position          : relative;
}

/* Testimonials */
/* =========================================================================== */
/* .testimonials {
background-image: url('../app/assets/Testimonials//moon.jpg');
background-repeat: no-repeat;
background-position: left;
background-size: cover;
} */
/* =========================================================================== */



/* Contact */
/* ================================================================================================================ */
/* #contact {
  background-image: url("./assets/contact.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */


/* =================================================================================================== */
/* Responsivenes */
/* Media query for Google Pixel screens */
@media only screen and (max-width: 412px) {

  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    /* max-width: 1440px; */
    font-size: 0;
  }
  
  .hero-item,
  .standard-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .comic-item {
    display: inline-block;
    min-height: 400px;
    width: 50%;
  }
  
  /* home page */
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    width: 100%;
  }
  
  @supports (display: grid) {
    .comic-item {
      width: auto;
      min-height: 0;
    }
  
    .hero-item {
      grid-column: 1/span 2;
      grid-row: 1/50;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
    }
  
    .standard-item:nth-child(2) {
      grid-column: 1/span 1;
      grid-row: 50/100;
      -webkit-clip-path: polygon(99% 6%, 63% 52%, 82% 52%, 50% 100%, 0 85%, 0 13%);
      clip-path: polygon(100% 6%, 85% 52%, 94% 52%, 90% 81%, 0 87%, 0 13%);
      margin-top: -73px;
    }
  
    .standard-item:nth-child(3) {
      grid-column: 2/span 1;
      grid-row: 50/100;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 21% 100%, 25% 50%, 7% 49%, 28% 0);
      clip-path: polygon(100% 0, 100% 100%, 4% 84%, 8% 52%, 0% 52%, 13% 6%);
      margin-top: -73px;
      margin-left: -15%;
      margin-bottom: 18px;
    }
  }

  .overlay-text{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    width: 90%;
  }
  

}


